[2019-10-26 21:40] untitaker commented on #215
Sorry, got it.

[2019-10-28 14:33] legrostdg commented on #231
Thanks for trying to reproduce the issue. I'm investigating with the debian-python team to see if someone has a clue... I'll keep this updated.

[2019-10-28 17:25] legrostdg commented on #228
Maybe this should be re-opened, at least as a reminder, given @scheibler last comment?

[2019-10-28 17:35] lucc commented on #228
For some reason I was assuming that "later" would be "later today" :(

[2019-10-28 22:27] #228 closed

[2019-10-29 19:04] kmosiejczuk commented on #215
Just to add another voice to why some folks prefer pypi:

Github has in the past changed how it auto-generates the tarballs it provides. OpenBSD's ports tree keeps hashes of the sources to prevent malicious changes. When github has changed how the tarballs get generated, anything using the auto-generated tarballs breaks. For projects that we have to use github for, we sometimes will file issues to

[2019-11-05 12:16] scheibler commented on #215
Done.

0.15.0 contained a small readme format issue. Therefore I've released 0.15.1 (and 0.14.0 for sake of completeness) on pypi.

[2019-11-05 12:16] #215 closed

[2019-11-07 07:31] lucc commented on #204
Maybe we could use typehints to document the parameter and return types: https://github.com/agronholm/sphinx-autodoc-typehints

[2019-11-15 05:09] Astranox commented on #230
Although this issue is already closed, it might be useful for people looking for the issue.
For debian using the env-variable SETUPTOOLS_SCM_PRETEND_VERSION seems to be the preferred way [1,2], and I've also used it for a (different) fedora package [3].

[1] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=839687
[2] https://github.com/pypa/setuptools_scm/pull/102
[3] https://src.fedoraproject.or

[2019-11-15 06:05] lucc commented on #230
@Astranox I think the recommended way to get khard is either a git checkout or the tarball from pypi. The first is more suitable for developers the second might suite users/packages.

We are also working on #234 which should reduce the delay until a new release appears on pypi.

[2019-11-16 06:34] salexan2001 opened #235 "Empty entry for "private_objects" in config causes error"
After upgrading khard from 0.14.0 to 0.15.1 I am receiving the following error message:

The corresponding key in the config file is empty and reads:
[code]

[2019-11-25 03:45] vleonbonnet commented on #131
I created #237 to add a category search. This does not cover all fields, but covers my own workflow and be of use to others until a full revamp of the search feature is completed.

[2019-12-24 12:39] vbwagner opened #238 "Problem with editing existing contact in Python3"
I've encountered following error attempting to edit contact with khard 0.13 using Python 3.7
and python3-vobject 0.9.6.1
(default setup for Debian 10)
[code]
It turns out that _get_string_field method  of the CarddavObject accesses
underlying vcard fields via getattr, not via public interface of vobject, and in some cases
vcard fields contain bytes objects, not strings, which is OK in python2, but

[2019-12-25 14:24] lucc commented on #238
hello @vbwagner can you provide a mini/dummy vcard so I can test it?

[2019-12-25 18:29] vbwagner commented on #238
It seems that cause of problem is explicit specification of encoding and charset which was part of vCard 2.1 standard.  Python vobject module doesn't declare support of this version, but however, does some strange things when encountered it.

It is certainly vobject bug.

However. it might be good idea to have workaround around this bug. I'e. if version is 3.0 or above,  delete these parameters wh

[2019-12-27 13:28] hydrargyrum opened #239 "When creating a card, formatted name alone is not accepted"
Following https://github.com/scheibler/khard/issues/171 the FN field (formatted name, full name) field is now accepted and it can be generated from N field.
However, when submitting a new card (with `khard new`) setting only "formatted name" and "email", no "first name", "last name", the card is rejected, see https://github.com/scheibler/khard/blob/master/khard/carddav_object.py#L1031
That card sh

[2020-01-06 22:02] lucc commented on #239
I think this was originaly a safety mesure to enure that the FN field could be generated. Maybe we can modify the logic in khard to do less checks ourself and use the validation from vobject instead.

[2020-01-08 03:06] Tonus1 commented on #124
I started a completion fiile. Tried to show the basics in comments.
Feel free to... complete :-D

Could be useful if someone could make a tree off the possibilities. It's a great part of the job and do not need to code anything.

I did for now :

[code]

[2020-01-08 03:17] Tonus1 opened #240 "move / copy / show multiple contacts at once"
Hi,
I do not know any python so do not know if it would be difficult :
Can we have the possibility to select multiples indexes to move / copy / show multiple contacts at once ?

Like that :
[code]

[2020-01-08 07:59] lucc commented on #240
This sounds like a nice idea, I will look into it but it might take some time until I come to it.

[2020-01-08 16:50] Tonus1 commented on #240
I believe it's this code
[code]
between lines 1144 to 1151.

It's a long time I'm thinking about learning some python... If I find some time and energy I will give it a try !

[2020-01-16 22:07] earboxer commented on #179
`khard ls --sort` could be extended to have support for sorting by birthday, email address, phone number (or maybe just any arbitrary field?)

Then, an equivalent command to`khard bdays` could be `khard ls --sort birthday | grep '/'`

Another possible command line flag that could be useful in replacing those ls-like commands could be `--with`.

You use `khard ls --with birthday` or `khard ls --wit

[2020-01-18 20:47] earboxer commented on #179
Actually, it seems the only thing `khard ls` is missing is the ability to specify fields.

`khard bdays` becomes `khard ls -F formatted_name,birthday --sort birthday`

Allowing fields to be specified empowers the user to do their own processing. For example, if I wanted to count what the most common last name is in my address book, I would just do

`khard ls -F last_name | sort | uniq -c`

If I wa

[2020-01-19 10:53] elumbella opened #243 "Incomplete search results when using a list modifier"
- khard version 0.15.1
- python version: 3.8.1

I'm trying to get full search results for usage with mutt. In my case, I want to find all contacts belonging to a certain category CAT. All of them have

`Category: CAT`

in their respective vCard files.

`khard CAT`

yields the desired results, whereas

`khard email CAT`

doesn't. It seems as if only the visible fields are searched (i.e. Name, Type

[2020-01-19 23:36] lucc commented on #179
@earboxer the last time a though about it I sopped to persue the `--fields` idea for `ls` because at leaset `khard phone` has a special search logic that is not sensible for `ls`.

But I still like the `--fields/-F` idea for `ls`. Maybe it even makes sense to first design/implement a propper `-F` option that has the current bhaviour of `ls` as defalult and then think about which other commands it

[2020-01-20 10:39] lucc commented on #243
I added 970af75 but can not reproduce your problem. Can you please explain what I need to do to see the bug. If possible you should give a minimal example including vcards, config and commands you use.

[2020-01-20 14:42] elumbella commented on #243
Alright, I tested again. It seems, khard has an issue with the term `CAT` as I get very weird results when using this specific word. Possibly it is giving me all contacts that have _some_ category. I tried reproducing with another string and this reproduces.
8y7rgopzm4rkvdns221iqmqzhjimuzib57jn.vcf, an example contact

khard.conf

`khard FBY` outputs the test person, whereas `khard email FBY` says

[2020-01-20 14:49] d7415 commented on #243
But that contact doesn't have an email address, so that would be exoected.

[2020-01-20 15:06] lucc commented on #243
If the contact does not have an email address it is not listed when using `khard email`.   That is expected. What is an email program going to do with a contact that does not have an email address?

Why "CAT" is special:
1. case is ignored
2. in order to match a vcard against some search term the rendered version of the vcard is produced (the one you see with `khard show ...`). If the vcard has a

[2020-01-20 15:18] elumbella commented on #243
I added an email address to the test contact and it now seems to work. The weird thing is, it doesn't work with my own contacts. I'm using the category `FBX`. `FBY` somehow works fine but `FBX` doesn't.

[2020-01-20 15:31] lucc commented on #243
so what exactly should happen with the fbx category and what is happening instead? The more specific the better ...

[2020-01-20 16:27] elumbella commented on #243
Just as mentioned before. Contacts with the category fbx show up with `khard fbx` but don't with `khard email fbx`

[2020-01-30 18:00] somini opened #244 "Error when displaying contacts by Formatted Name"
When trying to display contacts by formatted name, I get:
[code]

It seems the configuration spec wasn't changed.
https://github.com/scheibler/khard/blob/1e41ec0f13b14902b66f93602c43ac5a9d2c09be/khard/data/config.spec#L8

[2020-01-31 09:14] #244 closed

[2020-02-28 14:09] elumbella commented on #243
Alright, I think I have it narrowed down:
`khard <term>`
shows all contacts which contain <term> somewhere.
`khard email <term>`
only shows contacts, where <term> is somewhere in the name or the email address. It is thus impossible to search for categories (or, for that matter, anything else besides name and email address) when using the `email` argument

[2020-03-04 16:14] gitschneider opened #245 "TypeError: expected str, bytes or os.PathLike object, not list"
When using the default (mostly) khard will exit with a traceback on any action:
[code]

After checking the traceback it was clear that the `editor` config is the culprit. The entry in `~/.config/khard/khard.conf` is ```editor = vim, -i, NONE``` , and this gets converted to `['vim', '-i', 'NONE']` in config.py:74, but `expanduser` does not like the list.

When using just `vim` or leaving out the en

[2020-03-04 22:27] scheibler commented on #245
Khard supports editor command line args since version 0.15.0. Please either upgrade or remove the args after the editor command in your config file.

[2020-03-05 09:35] gitschneider commented on #245
Oh, the config file says version strictly greater v0.14... And I had khard installed from ubuntu 19.10, which had v0.14. As `pip3 show khard` showed me the same version I assumed it's the latest one and did not check any further. But now I have 0.15 installed, everything works fine.

So: sorry, completely my own faul. Thanks!

[2020-03-05 09:35] #245 closed

[2020-03-21 11:49] lucc commented on #235
private_objects should be a list of strings.  configobj interprets what you write as the empty string. According to [the docs](https://configobj.readthedocs.io/en/latest/configobj.html#the-config-file-format) an empty list can be achived with `private_objects = ,`.

I could hack a special case for the empty string into the validator but am not sure.  You could also just remove the line from your c

[2020-03-21 20:51] lucc commented on #243
@elumbella I tried to update the tests according to your last comment. See the commit f366f4. I am doing this:
- the vcard has the string "bar" only in the category field
- `khard ls bar` returns that contact
- `khard email bar` *also* returns that contact

Either I am missunderstanding you your description or I don't know what. Can you please write a complete test case that I can execute on travi

[2020-03-22 09:57] elumbella commented on #243
I am very confused... You are right, your tests pass on my system as well. It seems to fail only with the literal category "fby". Can you try that string as a category? If it this specific string that isn't working, then I have absolutely no clue what could be wrong. As mentioned before, the string "fby" somehow works...

[2020-03-22 10:24] lucc commented on #243
@elumbella as you can see [here](https://github.com/lucc/khard/commit/4585a76f97c51374b93a0d47757ff1899fbc2b1b) and [here](https://travis-ci.org/github/lucc/khard/builds/665435057) the tests still do not fail.  I am sorry to say this very directly: I will not work on this issue any more until *you* provide a test case that can be made to fail on travis. And by that I mean, as a commit so that I do

[2020-03-22 10:24] #243 closed

[2020-03-22 13:10] earboxer commented on #131
I think for this, it would be better to output the vcards as json objects, and have the users who want this level of filtering use the program `jq`.

`khard ls --json | jq '. | map(select((.titles[0] == 'dr' or .first_name == 'doctor') and '2016' in .category))` or similar.

[2020-03-25 03:43] lucc commented on #131
@earboxer that idea is also nice especially for general integration in scripts.  The `show` command already has a `--format` option.  This could be extended to also understand `json`. My first idea when I read you post was that we could reuse the code that produces the yaml version of a vcard. But sadly that is not yet refactored nicely. It still explicitly produces a lot of  strings in yaml forma

[2020-03-25 05:30] lucc commented on #131
I noticed that we can already script ourself a `--format=json` equivalent because we can convert yaml to json:
[code]

[2020-03-25 15:18] lucc commented on #238
@vbwagner can you provide an example vcard non the less. If I am to code somthing to work around this I need an example. Otherwise I will lose this as an upstream bug.

[2020-03-25 15:31] lucc commented on #179
**Searching for contacts where some property is non empty**

This is mentioned as the  `--with` option in https://github.com/scheibler/khard/issues/179#issuecomment-575369551 and as a field modifier for `-F` fields in https://github.com/scheibler/khard/issues/179#issuecomment-575369551

I think this kind of functionallity should be represented in the custom query syntax mentioned in #131 as `field

[2020-03-26 07:15] lucc commented on #235
The configobj docs for the syntax were already linked from the [man page](https://khard.readthedocs.io/en/latest/man/khard.conf.html). I now added the link also to the example config file.  With that I consider it documented well enough.

Sorry that the last update broke it for you but I do not want to code an extra case just for empty values at that point in the config. Please edit your config fi

[2020-03-26 07:15] #235 closed

[2020-03-30 19:27] aelmahmoudy opened #248 "Please add automerge feature"
Please add automerge feature that would scan the whole address book and merge possibly duplicate contacts, that would be detected, if the contacts have similar name,address, phone or email.

My suggestion is that when khard finds possibly duplicate contacts, it would prompt the user whether to merge those contacts.

[2020-03-30 21:15] lucc commented on #248
I am very sceptical about such a feature. It sounds like a lot of work if you want to get it right in most cases and at the same time sounds like a feature that is rarely needed.

Recently we merged #246 which adds the `-F` option. With it you can output selected fields.  You could use that and try to write a simple script:
[code]
That is tab separated output. You can do any processing in python o

[2020-03-30 21:53] aelmahmoudy commented on #248
Thanks for the suggestion, is this merge request applicable to khard
0.15.1 ?

[2020-03-31 07:09] lucc commented on #248
#246 is not in any release yet (only the develop branch), it will be in the next release.

[2020-03-31 12:44] elumbella commented on #243
I don't know what else to provide. I have provided everything that should be necessary. I don't know what more you want...

How should I provide you with the scenario?

[2020-03-31 17:15] lucc commented on #243
I want something that actually fails when **I** try/execute it. So far you have given me many descriptions of what I as a human have to do. But every time I tried it I did not see anything failing.

So in order to prevent any misscommunication I want *code* that fails. Not instructions for a human but instructions for a computer. And in order to not get mixed up in differences between our private

[2020-04-03 16:24] elumbella commented on #243
Hrm. I'm not a programmer, so that will be quite the challenge. I will see what I can do and report back once I have something (hopefully) appropriate to your specifications.

[2020-04-04 12:25] #174 closed

[2020-04-04 12:28] lucc commented on #231
I just released v0.16.0. The release can be found on github and pypi.

[2020-04-04 12:28] #231 closed

[2020-04-04 12:56] #204 closed

[2020-04-07 01:33] Tonus1 opened #249 "crash on specific string"
Hi,

Using khard with mutt (and without) gives me some strange behaviour :
[code]

This would not happen with longer string. For some specific, it works sometimes ("pap" gives results but "isa" fails, "pa" or cg fails and "is" gives results).
I noticed  the results are one per line, except sometimes (like with "is"), there's an empty line between each result.

Compiled from sources (git, release t

[2020-04-07 06:30] lucc commented on #249
Thanks for the report @Tonus1. I have trouble reproducing this with the vcards in the test suite. Could you post your config file and provide a *minimal* vcard to reproduce this? Especially delete all sensitive information from the vcard.

[2020-04-07 07:19] Tonus1 commented on #249
The vcard file :

[code]

The khard.conf :
[code]

The request :
`khard -c khard.conf ls anto`
`khard -c khard.conf ls anto`
I could provide a few more, like Tonus Anja and request san or usanj, since the request could match the end of the first name and the beginning of the last name...

[2020-04-07 08:15] lucc commented on #249
Thanks I can reproduce it with this. Can you test #250 and report back? If that works I think I can merge it tonight (have to go to work now).

[2020-04-07 17:43] #249 closed

[2020-04-07 18:26] lucc commented on #205
For users who are interested in scripting a custom post address format themselfs you can try one of these ways:

1. Use `khard list --fields "...." --parsable` to generate output suitable for further processing with awk or so. This prints multible contacts.
2. Use `khard show --format=yaml` and generate output in yaml format that can be piped to any yaml parser for further processing. For example

[2020-04-08 07:10] protist opened #251 "[Regression] Nickname occurs in the output of `khard email --parsable`"
As per the [recommendations](https://khard.readthedocs.io/en/latest/scripting.html#mutt), I have the following in `~/.mutt/muttrc`:
[code]
When I attempt to invoke khard in neomutt, the nickname also appears in the recipient field. For example given the following vcard:
[code]
Neomutt addresses the email to
[code]

This occurs with the current khard 0.16.1 (and 0.16.0), but this behaviour was not

[2020-04-11 05:32] lucc commented on #251
I have added the branch `test/251` but can not yet reproduce the nickname problem. I was suspecting you have show_nicknames=True in your config even though you did not say. But with or without this setting my tests fail to show your described behaviour: e430156

Please tell me what you are doing different from the tests.

[2020-04-11 05:55] protist commented on #251
Thank you for the tests. Sorry @lucc, I should have been more specific. Yes, I can confirm that I see this bug with `show_nicknames = yes` in `~/.config/khard/khard.conf`.

Without this line, there is no bug. However, without this line, I can no longer search by nickname either. e.g. in the example above, searching for `Mike` autocompletes to option 2, with no ability to select option 1.

[2020-04-11 08:34] lucc commented on #251
I think I can reproduce the missing search result with the email subcommand if show_nicknames=False and the contact would have a matching nickname: 3133b08

The reason for this change in behaviour is for one part due to the introduction of the `khard.formatter.Formatter` class which now handles the list output also for the `email` subcommand. On the other hand I have plans for the querying code an

[2020-04-17 08:37] ligurio opened #252 "Using khard with a single addressbook with multiple vcards"
Hello,

I'm imported addressbook from contats.google.com. It is a single file with vcards inside.
`khard` cannot parse files with a reason `WARNING:root:Card  from address book personal has no UID and will not be availbale.
Address book: personal`. How to use `khard` with vcards in a single file?

Example:

[code]

With debug option:
[code]

Version: Khard version 0.13.0

[2020-04-17 10:12] scheibler commented on #252
Khard doesn't support multiple vcards in a single file.

You could try the following:

1. Synchronize your Google account with vdirsyncer: https://www.mankier.com/1/vdirsyncer#Full_Configuration_Manual-Google
   Maybe Vdirsyncer splits the contacts automatically (didn't try that myself).

2. I've written a Python script to split CalDAV files for my local calendar: https://www.eric-scheibler.de/en/

[2020-04-17 11:11] ligurio commented on #252
@scheibler Thanks!
Using multiple vcards is not an option. I'm using Baikal as a CardDAV/CalDAV server and DAVx5 as connector to it on Android. Both applications shows each vcard as a separate address book. So I see about 600 address books on as server and in DAVx5.

[2020-04-17 11:16] d7415 commented on #252
I can't speak for Baikal, but DAVx5 isn't your problem here. I have an address book synchronised with DAVx5 via a radicale server and it works fine. It may be your vdirsyncer or Baikal settings.

[2020-04-17 13:19] ligurio commented on #252
Found an option `type` with possible values `"singlefile"` and `"filesystem"` in vdirsyncer. With `singlefile` vdirsyncer uses one file per calendar/addressbook and with `filesystem` vdirsyncer uses multiple files per calendar/addressbook.

[2020-04-17 15:19] lucc commented on #252
If someone wants to write support for single file address books in khard they could write a new class in address_book.py.  But a thorough inspection has to be made before that because other code (e.g. the CarddavObject class) depend on the filename of the vcards.  It might involve some bigger refactoring.

[2020-04-17 18:16] lucc commented on #251
@protist I opend #253, if you have the time you can test your issue against that branch. I think I will implement a proper solution for your issue only on top of #253.

About the proper solution: I think the desired behaviour should be that
- the nickname is always searched no matter if it is displayed or not
- maybe we should internally unset/ignore show_nicknames when we are formatting `--parsab

[2020-04-18 04:00] protist commented on #251
Thanks @lucc. I agree with both parts of your proposal.

I installed the branch/patch but the behaviour doesn't seem to change for me. I tested within Neomutt again, and the nickname is still present in the `To:` field.

I'm not sure exactly how to use `khard email --parsable <nickname>` directly from the command line, but I'm happy to test it directly if it might remove other potential variables.

[2020-04-18 09:50] lucc commented on #251
I merged #254 but the matching with and without nicknames is not included. That has to wait until after #253 because it is more complex and requires a decision.

[2020-04-19 04:30] #251 closed

[2020-04-20 18:37] lucc commented on #252
I updated the documentation.
- https://khard.readthedocs.io/en/latest/scripting.html#integration
- https://khard.readthedocs.io/en/latest/man/khard.conf.html#options

[2020-04-20 18:38] #252 closed

[2020-05-14 14:39] salexan2001 commented on #235
Yes, this solution is absolutely fine. Thank you!

[2020-06-04 21:22] rrblocker opened #256 "end of records display without new line"
When using the command `khard show <item>` the record displayed ends with a null character rather than a new line / return character. This causes the command prompt to be on the same line as the last line of the record with no space between the end of the record and the beginning of the command prompt.

The version of khard is 0.16.1 installed via pip3 on Ubuntu 20.04.

[2020-06-05 05:43] #256 closed

[2020-06-10 20:39] jeffa5 opened #257 "Add-email from fields other than From"
The `add-email` command is really useful for piping emails to and adding the contact in the From field. I think it would also be useful to be able to extract contacts from other Header fields, e.g. Cc and To.

Since these can tend to be lists it might need an interactive element to be able to skip some contacts in those lists if the user doesn't want to add them, potentially displaying a numbered

[2020-06-11 14:19] lucc commented on #257
We could add a `--all` option to iterate over all email addresses that can be found in the email message and for each ask the user if they want to import that address and look for a contact to add it to.

We could refactor the `add_email_subcommand` function into one function that adds emails to contacts and one that parses the email and asks the user for confirmation and then hands the email to t

[2020-06-11 21:27] jeffa5 commented on #257
Sounds great, I'll taking a look at implementing this :)

[2020-06-15 16:46] #257 closed

[2020-06-15 22:08] jeffa5 opened #259 "add-email: try looking up contact by email address"
When adding an email from raw email headers the lookup is currently by `name` or `all` if strict isn't set. This doesn't seem to search the email field though so with a contact of the form:

`A <a@a.com>`
`A last <a.last@b.com>`

Where both contacts are the same person, even with those emails in the contact, it still says would I like to create a new contact for `A last`, when my stored contact na

[2020-06-16 06:48] lucc commented on #259
I would be happy if the logic for finding the correct contact to add the email address could be improved. From your current description I do not fully understand the scenario. Can you provide some example email and contacts or address books and say what outcome you expect. Ideally you can also send a PR with some failing tests. But if you just want to provide the example I can also code the tests

[2020-06-16 17:56] jeffa5 commented on #259
I've created a test which should show this better here https://github.com/scheibler/khard/pull/261

[2020-06-20 10:32] dotlambda opened #263 "Test failure with Python 3.8"
The testsuite currently results in
[code]
Thus I patched the testsuite to use `assertRegex`:
[code]
and get
[code]
This does not happen when using Python 3.7.

[2020-06-20 20:02] d7415 commented on #263
The original version passes for me with py3.8.3

[2020-06-20 22:21] pianoslum opened #265 "[BUG] Card from address book ... has no UID and will not be available."
Hi,
I synced my contacts using vdirsyncer and save it do ~/.contacts/32.vcf
In khard.conf I set path to ~/.contacts for addressbook [[allgemein]]. However, when starting khard --list I always get the following error:

Card  from address book allgemein has no UID and will not be available.
Found no contacts.

32.vcf looks good to me, here is a part with redacted info:

BEGIN:VADDRESSBOOK
BEGIN:VCAR

[2020-06-20 23:54] lucc commented on #263
I am also wondering as these failures do not show up on travis or my local computer. Can you please report your OS, python version and how you installed it.

[2020-06-21 09:52] dotlambda commented on #263
I'm on NixOS, Python 3.8.3.
I build khard from [nixpkgs](https://github.com/NixOS/nixpkgs) using `nix-build -A khard`.
I tried bisecting nixpkgs to find a culprit but it seems this exists since updating khard from 0.14.0 to 0.15.1.

[2020-06-21 09:57] dotlambda commented on #263
I suspect this might be due to to the sandbox in which Nix builds packages. Maybe the options are printed on multiple lines if the terminal width is too small? The latter might not be set/recognized/... in the sandbox.

[2020-06-21 10:03] lucc commented on #265
I can not reproduce this issue. Please see branch [test/issue-265](https://github.com/scheibler/khard/tree/test/issue-265). It seems to me that you did not post the exact file that produces the error.

Please note that [documentation says](https://khard.readthedocs.io/en/latest/scripting.html#integration):

I assume that you have multible `VCARD` blocks inside one `VADDRESSBOOK` block in that file

[2020-06-21 10:18] lucc commented on #263
I am also sometimes working no nixos. I did not have any luck with any of these:
[code]

But I hacked together this `shell.nix` some time ago and it works:
[code]

I just played around a bit and this seems to be a minimal version that works:
[code]
but than setuptools will download the dependencies itself.

I am new to development on nixos (only used arch linux before) and would be
happy to learn

[2020-06-21 10:23] lucc commented on #263
I just checked https://github.com/NixOS/nixpkgs/blob/34b9b139bbf743e88b5a27cc876a979dae1ace85/pkgs/applications/misc/khard/default.nix and it seems that @matthiasbeyer maintains it. Maybe he can help us?

[2020-06-21 11:14] dotlambda commented on #263
I suggest you do `nix-shell --pure -A khard` in a checkout of the nixpkgs git repo. To get `setuptools_scm` working you will have to add `git` to e.g. `nativeBuildInputs` in `pkgs/applications/misc/khard/default.nix`.
Using this, `python setup.py test` will work fine, suggesting that it's really due to sandboxing,

[2020-06-21 11:18] dotlambda commented on #263
Maybe @FRidh has some insight.

[2020-06-21 11:27] FRidh commented on #263
What does `khard list -h` show in and outside the sandbox?

[2020-06-21 12:49] dotlambda commented on #263
The output of `khard -h` inside sandbox:
[code]

outside sandbox:
[code]

I got these by setting `doCheck = false` and adding `$out/bin/khard -h` to `postInstall`.

[2020-06-21 12:59] lucc commented on #263
@dotlambda I conclude that the sandbox is somehow breaking things here. I am not sure if I can help with that but you can surely use this issue to discuss it.

[2020-06-21 14:06] dotlambda commented on #263
This is the commit that changed the `argparse` behaviour for Python 3.8: https://github.com/python/cpython/commit/74102c9a5f2327c4fc47feefa072854a53551d1f

[2020-06-21 15:37] FRidh commented on #263
@dotlambda please check `khard list -h`, that's what is used in that test I think.

[2020-06-21 15:38] FRidh commented on #263
Oh that's a surprising cause

[2020-06-21 15:53] dotlambda commented on #263
That doesn't work because `OSError: Config file not found: "/home/rschuetz/.config/khard/khard.conf".` However the test actually tests `khard -h`, `khard list -h`, and `khard -h list`. I think the outcome would be the same for the others.

[2020-06-21 17:12] pianoslum commented on #265
@lucc thx for your answer.
You're right: I used singlefile-mode in vdirsyncer so there was just one file. Changing to "filesystem" solved the error.

I would suggest adding a test with a clearer error message. This could be as easy as checking for the presence of VADDRESSBOOK I think.

Thanks again :)

[2020-06-21 17:12] #265 closed

[2020-06-21 18:14] #263 closed

[2020-06-21 20:36] lucc commented on #265
I would like to avoid testing for all kind of malformed stuff people can put in the khard folders. Also a complete `VADDRESSBOOK` entry is parsed by our underlying `vobject` library without errors and not even the type of the resulting object differs.  We would have to inspect the resulting object to check if it is a vcard or vaddressbook.

I would prefer to "document this away" so I commited 1b0c

[2020-06-21 21:00] lucc commented on #265
https://khard.readthedocs.io/en/latest/scripting.html#id1

[2020-06-23 21:42] henrythemouse opened #266 "No matter what command: decoding with 'base64' codec failed (Error: Incorrect padding)"
I'm using:
Debian Siduction (sid based)
khard and vdirsyncer installed from sid
python 3.8

No matter what command I try to use I get this error: decoding with 'base64' codec failed (Error: Incorrect padding)

[code]

[2020-06-23 22:05] lucc commented on #266
I have no Idea how you get this backtrace out of khard. The file names in the backtrace seem to indicate that you do not run khard to get this error. Please provide a vcard (you can anonymize it) and the khard config and command that produce this error.

[2020-06-23 22:11] #238 closed

[2020-06-23 22:15] lucc commented on #248
The mentioned PR is in v0.16.

I will close this as "won't fix".

[2020-06-23 22:15] #248 closed

[2020-06-24 00:29] henrythemouse commented on #266
**example Vcard:**

BEGIN:VCARD
VERSION:3.0
PRODID:+//IDN bitfire.at//DAVx5/2.6.3.1-ose ez-vcard/0.10.5
UID:wejg5tw6-t7p9-w0gk-lalo-0ue19taktmxq
FN:Ross Chris
N:Ross;Chris
TEL;TYPE=cell:666 555-9999
REV:20200303T143858Z
END:VCARD

**khard config:**

[code]
**The complete output from this command:**

khard show -u wejg5tw6-t7p9-w0gk-lalo-0ue19taktmxq
Filtering some problematic tags from /home/dave/

[2020-06-24 00:41] henrythemouse commented on #266
As it turns out, I just noticed that first error line where khard seems to be having a problem with a specific vcf file, which happens to have an image a bit over 220K in it. I removed that vcf, khard found another, which I removed. I repeated this 4 times. After that, khard worked! Maybe there is something wrong with the images. I still have 2 vcf files with images over 220k and they are not caus

[2020-06-24 01:29] henrythemouse commented on #266
When viewing the image data in mcview the first line between the 'good' images and the 'bad' images is distinctly different, not that I know that that would make a difference. Just noticing it.

[code]
First, there's the small 'b' verses the capital 'B'. The Value in the good one might
correspond to the 'data' in the bad one, but they are different syntax.

Not sure any of this will help, hope it

[2020-06-24 05:39] lucc commented on #266
Ok that is much more helpful!

The start of the line in the vcards until the first colon is the attribute name and some tags or properties. After the first colon comes the value. And that is where the problem arises. You can check if the underlying vcard library can handle the card correctly:
[code]

[2020-06-24 05:41] lucc commented on #266
You can try to set the option `skip_unparsable = yes` until this is resolved. That should make khard usable in the presence of bad files.

[2020-06-24 07:55] lucc commented on #266
I just hand crafted two vcard files after consulting the rfcs and have uploaded some tests: 5aa338d

The line that you mention as "does **not** cause problems" looks very strange to me. The other one looks quite good but might be missing a backslash escape for the comma. Are these vcards v3 or v4?

[2020-06-24 16:04] henrythemouse commented on #266
Running this on a 'bad' vcf produces this output:
[code]
Running this on a 'goode' vcf prints the vcard, no errors.

[2020-06-24 16:06] henrythemouse commented on #266
Setting this in the conf file does not make khard skip the 'bad' parts of the vcf, the output is the same as before.

[2020-06-24 16:10] henrythemouse commented on #266
They all have the label: VERSION: 3.0

[2020-06-24 16:57] lucc commented on #266
This (https://github.com/scheibler/khard/issues/266#issuecomment-648912889) indicates that it is an upstream bug. Please report it at https://github.com/eventable/vobject/ .

[2020-06-25 02:33] henrythemouse commented on #266
Done

[2020-06-25 02:33] #266 closed

[2020-06-25 07:58] lucc commented on #266
@henrythemouse thank you.

If you don't mind I would like you to try out [the new error-message branch](https://github.com/scheibler/khard/tree/error-message) I just created.  I hope to display a better error message to the user if a vcard like your 17CEC589-0332-4921-925E-28F63F6C4B3B.vcf is present.

[2020-06-25 18:28] henrythemouse commented on #266
I don't know how I would do that, is there a patch or something? Do I need to do a pipsi installation? What's the best-easiest way to test this?

[2020-06-26 11:56] lucc commented on #266
I assume you have some kind of Unix or Linux with git and python installed then you can do this (in a new folder that you can throw away later):
[code]

[2020-06-26 16:05] henrythemouse commented on #266
The output from "python3 -m khard ls":

[code]
----------------------------------------------------------
The output from "python3 -m khard --skip-unparsabel":

[code]
Followed by a list of all contacts except the offending ones.

[2020-06-26 17:03] lucc commented on #266
Thank you, that is what I hoped for because it will give the user a better error message and a half way usable khard.

[2020-07-01 08:16] protist opened #267 "[Regression] Checks fail after building"
I can't build the latest version (based on the Arch Linux [PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=khard-git)) as the checks are failing. The build itself appears to work fine.

I did a `git bisect` and identified the first bad commit as the most recent 0e0fe52a4134d96c9e13f9c398efad9cd065d0d1. Output below is shown for this commit.

[code]

[2020-07-02 18:04] lucc commented on #267
Sorry for that I forgot to update the tests. Should be fixed (on arch linux at least, py36 still outstanding).

[2020-07-03 00:23] protist commented on #267
No worries @lucc and thanks for the quick fix. Everything works fine now.

(FWIW I get quite a few warnings in the build, but not sure if they are important.)
[code]

[2020-07-03 09:43] lucc commented on #267
These are warnings from sphinx from building the docs. I had a look and fixing the muttrc stuff was easy (de7ba9b62395b727f31b37b01a23815fa44ca2d3). The "unknown options" are just dangling references because the man page does not list all options of all subcommands of khard. But marking them as `:option:` helps to highlight them correctly. Finally the parsing warning is from a lib we use.

But tha

[2020-07-03 09:43] #267 closed

[2020-07-15 21:08] dvzrv opened #268 "prepopulated __pycache__ directory in pypi sdist makes package unreproducible"
Hi! When rebuilding the khard 0.16.1 package on Arch Linux and running our reproducible build tools against it, [diffoscope](https://diffoscope.org/) bails out on it:

[code]

The prepopulated *.pyc files in the test directory should not be in the sdist tarball on pypi.org because they make packaging unreproducible.

[2020-07-19 11:09] lucc commented on #268
Sorry for that. Does https://test.pypi.org/project/khard/0.16.2rc1/ fix that? It is a test release based on b98fca997bd27fa3a796aa4647050716ba8b337f.

[2020-07-20 07:55] lucc commented on #239
PRs welcome.

[2020-07-28 21:39] lucc commented on #268
I merged de835302342954c52e5dbe5ae52447a8c912c49c into develop, it will be part of the next release.

[2020-07-28 21:39] #268 closed

[2020-08-01 11:17] lucc commented on #131
I just merged a big branch into develop. You can search in specific fields with `field:stuff`.  The fields are named like in the yaml output. Additionally there is the `name:` pseudo field that searches in all name related fields.

**Missing**: docs, zsh-completion and test by early users -> @GSI , @vleonbonnet I would be happy about feedback.

(@vleonbonnet sorry for not merging you suggestion be

[2020-08-01 12:42] lucc opened #270 "Improve zsh completion for field names"
There are two places where it makes sense to complete field names on the command line:
- the `-F` option
- the search query

This is currently not implemented as it needs some zsh completion magic.
The correct field names to complete can be found in `khard.cli.field_argument` and `khard.query.parse` respectively.

(This is a follow up of #131 and #246.)

[2020-08-01 12:45] lucc commented on #131
I will close this as it is implemented in 4fad9fd50bf505772005876dcf52700f635f9d32 and the zsh completion is tracked in #270.

If no bugs arise I think I can release 0.17 around next weekend.

[2020-08-01 12:45] #131 closed

[2020-08-06 06:21] GSI commented on #131
Time had me (or my machine) forget how to execute without installing.

Was it `python khard.py`? Which says:

    Traceback (most recent call last):
      File "khard.py", line 17, in <module>
        from . import helpers
    ImportError: attempted relative import with no known parent package

[2020-08-08 05:53] lucc commented on #131
@GSI https://khard.readthedocs.io/en/latest/contributing.html#development

[2020-08-08 09:28] GSI commented on #131
Okay at rev 4fad9fd50bf505772005876dcf52700f635f9d32 using `python -m khard details ...` I can confirm these to work: `name, categories, birthday`

The rest fails to return a result for me: `webpage, prefix, address, address.work.code, nickname, email, email.home`

---

Minor typo there - says `kard` instead of `khard` for the module.

[2020-08-08 11:20] d7415 commented on #131
It looks like it's `webpages` rather than `webpage` and `emails`, not `email`. I haven't made addresses or nicknames work. `prefix` is specifically excluded:
[code]

[2020-08-09 12:20] lucc commented on #131
Currently the query syntax does not support nested field names like `-F` does. Maybe that was not clear from the documentation, will update.

[2020-08-13 07:55] lucc commented on #131
Release is finished:
- https://github.com/scheibler/khard/releases/tag/v0.17.0
- https://pypi.org/project/khard/0.17.0/

[2020-08-24 19:49] lucc commented on #198
This is obsolete as we do not use regex for searches internaly any more.

[2020-08-24 19:49] #198 closed

[2020-08-25 07:36] lucc opened #271 "Allow complex sort criteria for `--sort`"
This is a follow up of https://github.com/scheibler/khard/issues/179#issuecomment-575369551.

The aim is to allow field lists like for `-F` also for the `--sort` option. The sorting should be done by the fields in the list in order.

Problems: How to compare lists if the user specifies `--sort emails` for example?

[2020-08-25 07:41] lucc opened #272 "Differentiate between non existing vcard properties and empty ones"
At first this is an internal distinction but it will allow us to use `field:` as a search query that means "vcards that have any value in that field". Currently the properties on the CarddavObject always return a default value that hinders us to check if the property is set.

[2020-08-25 09:19] minch4 opened #273 "Add MEMBER and RELATED Properties"
Hello =)

if anyone has time for the implementation of :

* MEMBER (https://tools.ietf.org/html/rfc6350#section-6.6.5)
* RELATED (https://tools.ietf.org/html/rfc6350#section-6.6.6)

it would be nice
=D

[2020-08-26 13:47] GReagle opened #274 "Can khard OR search terms?"
It seems that khard, when given multiple search terms, ANDs them together.  Is there a way to OR the search terms, like the pipe operator in regular expressions?  This would be very useful.  I am using Khard version 0.17.0.

[2020-08-26 16:34] lucc commented on #274
Not yet. The query classes can already search with OR but there is no syntax for the query language defined. I am open for suggestions and discussion.

[2020-08-27 20:17] lucc commented on #273
I am open to pull request.

[2020-08-27 20:22] lucc commented on #259
Since releasing 0.17 with the new query syntax I have come back and thought about this several times.  I always end up with the question: Why should I search for the email I am about to add. If I find it, it is already there so I don't need to add it.  Can you give an example why this might be needed?

[2020-08-27 20:31] lucc opened #275 "Use a schema to validate yaml input"
Currently we do validate the yaml data by hand, see [the `update()` method](https://github.com/scheibler/khard/blob/c130939c87cf56f436d9fe2d32e3df95aedf2253/khard/carddav_object.py#L1067-L1259). This is cumbersome and not documented.  We should use a schema (and probably a library) instead and communicate the expected yaml schema in the docs properly.

[2020-08-27 20:32] lucc commented on #146
I opened #272 and #275 as prerequisites for this issue.

[2020-10-14 03:26] lockywolf opened #276 "Normalise (quote) strings when editing through the Yaml interface?"
I am opening a vcard that has passed the following route: khard(new)-vdirsyncer->Google-vdirsyncer->khard(edit).

[code]

Too bad I didn't save the original .vcf created by khard, but the following is the issue:

I cannot edit this vcard with Yaml, because of the "@uid" values, as apparently Yaml tokens cannot begin with a "@" symbol. May I suggest enquoting values fed from vcf to yaml, unless alr

[2020-10-14 07:39] lucc commented on #276
Currently conversion to yaml is implemented by hand in the methods `khard.carddav_object.YAMLEditable.to_yaml` and `khard.helpers.convert_to_yaml`.  We could fix it there but the clean solution would be to use a library for generating yaml. (We are using `ruamel.yaml` to *parse* yaml.)   If somebody wants to propose a library or even a PR that would be interesting.

I think the requirements for ge

[2020-11-08 06:07] Tonus1 opened #277 "Support for python3.9"
Hi,
I unfortunately upgraded a bit too fast and broke khard. A bit annoying since my mutt relies on it.

I can rely on aliases but prefer much more khard !

[2020-11-08 06:47] lucc commented on #277
Can you tell me what broke because it looks like the last [test run on python 3.10](https://travis-ci.org/github/scheibler/khard/jobs/721931462#L184) succeeded.

(Maybe also the python version you use, OS, how you installed khard, etc, just the normal stuff for a bug report.)

[2020-11-08 07:50] lucc commented on #277
We are now also running the tests explicitly on 3.9: https://travis-ci.org/github/scheibler/khard

[2020-11-08 22:50] Tonus1 commented on #277
My bad ! I forgot I had a packaged version that superseeded the virtualenv I had just installed !
So sorry for the noise !

[2020-11-08 22:50] #277 closed

[2020-11-26 10:46] fourstepper opened #279 "khard messages on startup"
I am getting a lot of these messages when running khard:

`Wrapping vCard with unsupported version None, this might change any incompatible attributes.`

I understand what this says and use khard read-only - is it possible to skip these warnings as of now?

[2020-11-26 11:43] d7415 commented on #279
What version is the vCard? If it's not some custom version it would be nice to try to support it (though this is probably not the quickest solution to your problem).

[2020-11-26 11:46] fourstepper commented on #279
I am not so experienced as far as vcard formats go - is there a way to find the vcard version out?

[code]

Here is my khal config

[2020-11-26 12:34] d7415 commented on #279
Ah, sorry. It should be at (or near) the top of the vcf file. Something like `VCARD 4.0` I think but I don't have any to hand right now. If I do before you answer I'll update accordingly.

[2020-11-26 13:24] fourstepper commented on #279
[code]

I have got one example vcard here - this is basically how all of them look for me - looks like it's VCARD 3.0

[2020-11-26 17:21] lucc commented on #279
khard officially only suppoorts version 3 and 4 of the vcard standard because the [vobject](https://github.com/eventable/vobject/) library we use does so.

The first thing to check is weather you have vcf files that do not specify their `VERSION:...`, I think these are some version 2.x files.

Support for new versions has to be implemented [upstream](https://github.com/eventable/vobject/) but I th

[2020-11-30 11:48] fourstepper commented on #279
It seems that 3 of my contacts do not have VERSION specified, however when invoking khard, I get 42 lines of the `Wrapping vCard with unsupported version None, this might change any incompatible attributes.` message - I suspect most of my contacts being version 3 or 4, having a look at some of them at random

[2020-11-30 16:32] lucc commented on #279
Can you create new address book folders to test how many new of these warnings you get for individual contacts that you add to the address book? You can restrict khard to one address book either with a custom config file or a command line option.

If you have a small address book you could use the debug option to find out what is going on.

In general you should just get one warning for one contac

[2020-12-02 14:16] fourstepper commented on #279
I am on khard version 0.17.0

When looking closer, there seems to be those exact 42 contacts at version VERSION:2.1

I might just try to edit this as you said after a backup - thanks for the help, this is not a bug:)

[2020-12-02 14:16] #279 closed

[2020-12-19 14:12] mathstuf commented on #230
I've used the `SETUPTOOLS_SCM_PRETEND_VERSION` hack when updating to khard 0.17.0 for Fedora.

[2020-12-19 15:06] lucc commented on #230
@mathstuf the tar.gz file at https://pypi.org/project/khard/0.17.0/#files has a version.py file with the correct version number in it. If I unpack the tar ball and execute `python3 setup.py --version` it answers with `0.17.0`. So maybe your fix is not even needed?

[2020-12-21 10:30] jonascant opened #282 "Why hardcode fields in list_contacts?"
For my personal use, i would like to parse contacts with khard and output not only the email adress, but also other specific fields. Why is the list --parsable function limited to name, phone and email? If there is no specific reason that i missed, i would like to try to make the fields user configurable. The hardcoded fields can be the defaults.

[2020-12-21 16:11] lucc commented on #282
The historical reason is the format that mutt expects.

You can use the `ls -F` to specify the fields and you can also combine that with `-p`.

[2020-12-22 16:24] mathstuf commented on #230
Hmm. Using that would work, but is it possible to provide those via the github download? How do autotools packages put the `configure` script into their tarballs on github? Or is slightly-processed source not something github really does?

[2020-12-22 16:30] mathstuf commented on #230
Note that one thing that could be done is something like this:

[code]

[2020-12-22 16:31] d7415 commented on #230
By default github zips the source and attaches it to a release. It's possible to attach any files you wish to them.

[2020-12-22 18:43] lucc commented on #230
@mathstuf I did not gather from your first post that you are downloading from github. The github tarballs are just created automatically by github. From my point of view this project is developed on github and deployed on pypi so if you need a tarball fetch it there.

Maybe the tarball on github can be overwritten with a custom github action. But we are not using github actions yet and I think tha

[2020-12-23 02:35] mathstuf commented on #230
Thanks. After some more tesitng, it's not just this. The github tarball also does not install the `data` (as seen in #231). I've converted Fedora over to using the PyPI tarball. That should also be noted in the documentation I expect.

[2020-12-23 07:19] lucc commented on #230
@mathstuf in my test there are only four addditional files in the pypi tarball and none of them is a "data" file:
[code]

So it does *inlude* the (nearly) same files, and the issue you linked was about *inclusion*. What do you mean by "install the data"?

[2020-12-23 12:24] mathstuf commented on #230
Here are the file listings for the `-1` and `-2` builds. The only difference is [this commit](https://src.fedoraproject.org/rpms/khard/c/6c54fef90a660ba083b605d49d05d605d0a315ac?branch=master) which switches over to the PyPI tarball and removes the env hacks for `setuptools_scm`.

`-1`: https://koji.fedoraproject.org/koji/rpminfo?rpmID=24382866
`-2`: https://koji.fedoraproject.org/koji/rpminfo?rpm

[2020-12-23 13:17] lucc commented on #230
I assume you are right as the file `khard.egg-info/SOURCES.txt` lists these data files.

Thanks for investigating for me. I conclude that the fix in 4779821 should be enough for the time beeing.

[2020-12-24 02:53] protist opened #284 "Khard fails with newest python-configobj (without shim)"
When installing the latest version of `python-configobj` based on master, khard fails.

[code]

[Apparently](https://bbs.archlinux.org/viewtopic.php?pid=1944791#p1944791), this is because the python-configobj compatibility shim was not packaged in Arch Linux. However, it [looks like](https://github.com/DiffSK/configobj/commit/0cfca0c60b96402c8a508b5930ba7065190cbc62) this shim will not be shipped

[2020-12-24 03:08] polyzen commented on #284
A fix has been applied to the Arch package:
https://github.com/archlinux/svntogit-community/commit/6b5a0ce3652d48422f1902c7a9a855e2409228a2

[2020-12-24 07:07] lucc commented on #284
@protist what do you mean by "it looks like this shim will not be shipped soon anyway"? To me [this line](https://github.com/DiffSK/configobj/commit/0cfca0c60b96402c8a508b5930ba7065190cbc62#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7R29) looks like it will be shipped.

I will merge a fix next, but sorry first I have to rant ;)

\<rant>

I am confused why the responsibilit

[2020-12-24 07:18] lucc commented on #284
Should be fixed by #283.

[2020-12-24 07:18] #284 closed

[2020-12-24 07:21] polyzen commented on #284
They bumped to a later version to fix something and inadvertently caused this ^^. Someone's already provided a patch, so the shim will probably be included, but may take some time with the holidays.

[2020-12-24 08:54] protist commented on #284
@lucc Thank you for the quick fix! Yes, I agree that the Arch packager made a mistake, which seems inadvertent.

I was referring to the comment to the [commit I linked above](https://github.com/DiffSK/configobj/commit/0cfca0c60b96402c8a508b5930ba7065190cbc62), but maybe I misunderstood:

I thought this was the last time the shim would be shipped. (But yes, the Arch packager obviously didn't includ

[2021-01-02 14:03] #282 closed

[2021-01-10 18:34] lucc commented on #146
One simple solution to the editing problem where the user did not see but then organisations value but the give a new one could be to just ask the user what to  do interactively.

[2021-02-11 18:25] PatrikTrefil opened #285 "Can't simply list names"
AFAIK it is currently not possible to list just names. You can list emails, birthdays, phone numbers etc., but there is no option for names (first name + last name). If I am missing something, please let me know.

Why is this needed? I am trying to write a script for dmenu to work with contacts. I need the user to select the contact name first, but I can not get the names. Generally, this would be

[2021-02-12 15:23] d7415 commented on #285
Hi. Try `khard list -F name`

[2021-02-19 08:26] PatrikTrefil commented on #285
Yeah, that works. Thanks.

I suggest You add more examples to Your docs. Also, I found it quite confusing, that the manpage does not include all the documentation available (one can get more information when passing the --help flag). I believe it would be convenient to have all the docs in one place.

[2021-02-19 09:21] dinojr commented on #273
As noted in [this vdirsyncer issue](https://github.com/pimutils/vdirsyncer/issues/867#issue-811847704), the combination google contacts + vdirsyncer doesn't properly handle these fields and creates `item1.X-ABRELATEDNAMES` and matching `item1.X-ABLabel` field but `khard item1.X-ABRELATEDNAMES:name_of_the_child` or `khard name_of_the_child` doesn't find the contact.

[2021-02-19 09:54] d7415 commented on #273
Google seems to do this their end - if you do a Takeout as VCF it will use this form.

`khard name_of_the_child` should list the contact - my khard does. `khard show name_of_the_child` should show the full contact. What version of khard are you using?

[2021-02-19 11:00] dinojr commented on #273
I tried with the v0.17.0. from Ubuntu and Khard version 0.17.1.dev47+g57b5bbc from git, still not showing with python -m khard name_of_the_child. The card of the mother (with the item.X-AB*** field in it) is found when looking for her name, and some other cards bearing the same name as the child looked for are found by khard name_of_the_child though. I tried changed his name in the vcf file to som

[2021-02-19 11:13] d7415 commented on #273
Ok. I just checked again with 57b5bbc (I was a little behind) and I'm still getting correct results. I've tried with several of my contacts with `item1.X-ABRELATEDNAMES` style fields and all are working fine.

Does yours work with this minimal VCARD?

[code]

[2021-02-19 11:32] dinojr commented on #273
With your example vcf file, Khard 0.17.1.dev47+g57b5bbc, picks up john smith but not jenny. I'll open a different issue.

[2021-02-19 12:58] dinojr opened #286 "Values not picked up from item1.X-ABRELATEDNAMES fields"
Google contacts uses `item1.X-ABRELATEDNAMES` and `item1.X-ABLABEL` fields for child/spouse/... relations (see  https://github.com/scheibler/khard/issues/273#issuecomment-781947931_). Even though it's not the proper way to handle it (there are RELATED fields for that) khard should be able to search the value of item1.X-ABRELATEDNAMES but it doesn't on my system.

I've tried the latest official rel

[2021-02-19 13:17] d7415 commented on #286
Just to confirm my (working) command line and results:

[code]

[2021-02-19 13:45] dinojr commented on #286
Would you mind sharing your config file ? Here is mine:
[code]

[2021-02-19 13:51] d7415 commented on #286
That's it! I have:

```private_objects = Jabber, Skype, Twitter, ABDATE, ABRELATEDNAMES```

Changing to yours results in the behaviour you have.

[2021-02-19 13:56] dinojr commented on #286
Works for me too, I'll add RELATED for good measure, in case someone starts using them.

[2021-02-19 13:56] #286 closed

[2021-02-19 14:03] d7415 commented on #286
Great! It's probably not worth adding RELATED as that section only applies to private (`X-*`) fields.

[2021-02-20 06:37] lucc commented on #285
@PatrikTrefil you are very welcome to open a PR with some examples for the docs!

I was to lazy to type all the argparse help text into the man page again,but there is a sphinx  argparse plugin which can do that. I did experiment with that a while back.  I will dig up the branch and let you  know.

[2021-02-20 07:40] lucc commented on #285
@PatrikTrefil I found my branch and it uses https://github.com/alex-rudakov/sphinx-argparse to include the argparse stuff into the sphinx document, so that one does not have to type all the options and docs again. (There a quite a lot options in khard :)

I just played around with the branch again and noticed the following (i pushed the branch to github, so you can have a look: [feature/auto-man](

[2021-02-21 22:09] poetaman opened #287 "How to import contacts from existing databases?"
Can you please add steps needed to import contacts from existing databases? Am looking forward to import contacts from macOS in-built Contacts app. I can select all contacts, and export them as one "vcards" file. Not sure how to import it using Khard. I mean there should be an option to say ``khard --import <filename or directory_name>``

[2021-02-21 22:16] poetaman opened #288 "No UID, and will not be available error"
I exported all of my contacts as in .vcf format on macOS, and copied it under the ./contacts/friends directory configured in khard.conf file. Trying to query any contacts results in this error:

**Card \<Name\> from address book friends has no UID and will not be available.**

I get the sample problem with contacts exported from google contacts, which makes importing impossible...

Can khard ask u

[2021-02-22 14:13] lucc commented on #288
Maybe you can use vdirsyncer to sync with google. The [docs](https://khard.readthedocs.io/en/latest/scripting.html#integration) have a section on this.

If you want to try you can manually (or with a script) add some `UID:something` lines to the vcard files.  The line needs to be between the `BEGIN:VCARD` and `END:VCARD` lines and *not* before the `VERSION:...` line. The value of the uid field doe

[2021-02-22 14:14] lucc commented on #287
As described [in the docs](https://khard.readthedocs.io/en/latest/scripting.html#integration) you will need to have the contacts from your existing database in individual vcard files.  One big file with many vcards is not supported.

If our underlying vobject library supports single files with many vcard objects inside an import function should be possible to implement. The import command could ac

[2021-05-26 12:37] sss123next opened #289 "contacts with same uid in different address books"
good day.
i have two address books with contacts copied via evolution, copied contacts have same uid and khard does not work with such contacts, what is best/simplest way to workaround it ?
[code]

[2021-05-26 14:07] scheibler commented on #289
Khard itself does not handle such cases.

But you could change the UIDs of every vcard with a small shell script.

Something like:

[code]

[2021-05-26 14:44] sss123next commented on #289
thx, i will try.

[2021-07-13 14:38] sciurius opened #290 "Please add support for SORT-AS property"
To be able to properly sort (european) names it is necessary to be able to maintain the SORT-AS property of the name (N) field.

See https://datatracker.ietf.org/doc/html/rfc6350#page-21

[2021-07-13 17:26] lucc commented on #290
Good idea @sciurius , pull requests for this would be welcome :)

I myself do not have the time to implement this for you, currently.

[2021-07-13 17:32] sciurius commented on #290
I might give it a try. Do you have some clues where to start?

[2021-07-13 17:48] lucc commented on #290
You probably want to look at the `sort_contacts` function in khard.py file first.  There are also some other cases in khard.py where list of contacts are sorted but as far as I can see at a glance they might not be relevant for you (sorting by birthday etc., to be sure grep for "sort" in that file).

A single contact is represented by the classes in carddav_object.py, these are the kind of objects

[2021-07-13 20:11] sciurius commented on #290
As a first step I've added "Sort as": to the template and code to fetch and store the SORT-AS parameter from/to the VCARD and yaml. This works, but if I modify **only** the SORT-AS, it is not detected as a modification and the entry is not updated. If I modify SORT-AS and _anything_ else in the template the new SORT-AS value is correctly set and written to the VCARD.

Any idea where to look?

[2021-07-13 20:15] lucc commented on #290
The code for that might be the yaml parsing function in the carddav class.

[2021-07-13 20:19] lucc commented on #290
The parsing happens in `YAMLEditable._parse_yaml` but that is done by a library so the actual changes you would make are probably in `YAMLEditable.update`.

[2021-07-13 20:47] sciurius commented on #290
Ah... To detect if the vcard has changed `modify_subcommand` uses `==`, which is defined in CardDavObject to compare the _pretty_ representation. Adding the sort-as param to the pretty print fixes this.

[2021-07-14 10:36] sciurius commented on #290
Ok, it seems I've got it working. When sorting on last name I now use the SORT-AS if any.

This leads to a couple of questions:

1. Should SORT-AS always override, even when sorting on first name or full name?
2. Should we have a distinct sort mode to use the SORT-AS info (e.g. `-s sort_as`), which leads to
3. Should we then have a fallback specification (`-s `sort_as,last_name`)?

[2021-07-14 11:35] lucc commented on #290
I think the RFC answers this question (exactly where you linked it):
1. yes
2. no, the SORT-AS i comma seperated and these fields correspond to the sorting value of the corresponding field in N (which is semicolon seperated)
3. no

I think you can copy the example from the RFC to a test case.

[2021-07-14 13:40] lucc opened #292 "Travis.org has been shut down"
travis-ci.org was finally shut down ([blog entry](https://blog.travis-ci.com/2021-05-07-orgshutdown)) and if we want to continue using travis we have to use travis-ci.com

Our old builds are still on org but the newest one is already failing:
https://travis-ci.org/github/scheibler/khard/builds
And new PRs won't get build.

# Solutions
- we move to travis-ci.com
- we use github actions instead

@sc

[2021-07-14 15:04] d7415 commented on #292
Moving to .com would be simpler because the configuration should be identical. Their OSS credits system is a pain though. That said, one batch of credits would probably last this project a while as I think it's usually 10,000.

Like you say, up to @scheibler though.

[2021-07-17 16:27] falsifian opened #293 "Spaces in $EDITOR should separate arguments"
I have `EDITOR=emacsclient -t`, which confuses `khard`:

[code]

Other programs seem to handle this. I suggest splitting `$EDITOR` on spaces.

[2021-07-18 13:42] bharatvaj opened #294 "Enhancement: Short error messages instead of traceback"
This was what I got when I first started khard for the first time. Instead of a traceback, it would be better if it showed only the error message.
[code]
This is when I tried the example khard.conf file in README without actually having the required files
[code]
Although these messages might be helpful for developers. It creates a bad user experience. Maybe show traces only on `--verbose` or `--de

[2021-07-22 20:59] sciurius opened #295 "Reduce empty address lines in "details" output + patch"
To reduce empty address lines in "details" output something similar to the attached patch could be considered.

For example, output before the patch:
[code]
After the patch:
[code]
[reduce_empty_address_lines.patch.txt](https://github.com/scheibler/khard/files/6865182/reduce_empty_address_lines.patch.txt)

[2021-08-28 10:49] gfarrell opened #298 "Feature request: make it more scriptable either by limiting choice to the first or enabling exact name matching"
I wrote [a script for khard](https://github.com/gfarrell/rofi-khard) so I can use it easily with Rofi (mimicking the functionality I used to have in Alfred when I was on macOS). The problem with this is that sometimes there are two contacts with names which cause a collision (e.g. my house in France is called "France", and I have a friend with the last name "Frances"). This causes my script to han

[2021-08-30 09:41] scheibler commented on #298
Did you try to use the query syntax?

From the docs:

--

The query language allows the user to search for contacts where a specific term
matches in a specific field of the contact.  When searching for ``foo`` there
might be two contacts that match, because one is called "Foo" and the other has
an email address containing "foo":

   $ khard list foo
   Index    Name    Email
   1        Bar     ba

[2021-08-30 10:39] mschilli87 commented on #298
@scheibler

The OP literally contains the exact query using the query syntax:

The way I understood it, the Friend has 'Frances' as the name and the house has 'France' as the name. So the query syntax (as-is) won't help.

@gfarrell even suggested changes to the query syntax that would solve the give use case:

[2021-08-30 11:20] gfarrell commented on #298
Hi @scheibler and @mschilli87 :

As per my original message, @mschilli87 is correct: searching for `name:France` brings up both the house in France and the friend Frances. In this instance `name:France` doesn't help.

[2021-09-12 19:15] lucc commented on #298
@gfarrell can you provide two (reduced and anonymized) vcards so that we can reproduce that? We could start by writing a test for the problem that `name:...` seems to search in names and addresses. Because it looks to me as if we have two things here:
1. bug report: `name:France` matches an address
2. feature request: make khard more script able, by some means

[2021-09-12 20:46] d7415 commented on #298
My understanding is that the contact with the French house has the name "France" so that would a naming issue, not a bug.

[2021-09-13 06:57] gfarrell commented on #298
@lucc: as per my original post:

This is not a bug report, as @d7415 has pointed out. It’s also the second time this issue has been misinterpreted but I’m not sure what else I can do to make the text clearer.

As I wrote originally, I am happy to implement this improvement and have suggested how it might be done, but am simply waiting for some pointers from those more familiar with the khard code

[2021-09-13 17:35] lucc commented on #298
Well I did not expect a house to have a vcard with a name on its own. Nevermind.

In #189 I have proposed a `--no-confirm` or `--assume-yes` option. I think all relevant code that is affected by such options is in the `khard.helpers.interactive` module. These two suggestions are related to the `confirm` function.  Here we are concerned with the `select` function. For this a `--last` or `--select-n

[2021-09-13 17:41] lucc commented on #298
To really answer your question: I would be happy with PRs for a more scriptable interface. There is also a whole project about this: https://github.com/scheibler/khard/projects/1

I have not thought about how to implement it exactly so you can ask for more specific pointers if you have questions.   I am also happy to help discussing the design first.

[2021-09-13 17:51] mcmer opened #299 "new release?"
the list of changes since 0.17.0 is quite long.
https://github.com/scheibler/khard/compare/v0.17.0...develop

would you care to tag a new release?
it would help packaging...

marcus

[2021-09-13 19:50] lucc commented on #299
I am busy in September, hope to do it in October.

[2021-09-13 19:50] #299 closed

[2021-11-14 21:43] ronnac opened #300 "edit contact by file name"
This is a feature request:
I would like to be able to edit a contact by giving the file name like so
khard edit /home/user_x/.contacts/09c6ad40-f6c6-441a-a004-9608701f3b41.vcf

rationale:
mates.rs is very fast at finding contacts but not so good ad editing them (not a lot of fields). This way I could combine the two (mates.rs and khards)

[2022-01-25 07:47] johannesk opened #301 "Matching on Phone Numbers"
The Same phone number can be stored in many different formats:
- 017612345678
- 0176 12345678
- 0176-12345678
-  0176 123-45678
-  0176-123 456 78
- ...

Andoid tries to guess the area code and automatically inserts spaces into the number.

I am using khard with twinkle, similarly as described in https://github.com/scheibler/khard/pull/14 and khard stopped working as expected when updating to Ubun

[2022-02-25 11:49] skowalak commented on #276
I just tested reading and then writing the template with `ruamel.yaml` and the following script. It preserved the comments. Unfortunately, I am not very familiar with `khard`s codebase yet, but I could try creating a PR to use `ruamel.yaml` and quote yaml values.

[code]

Result:
[code]

[2022-02-25 13:19] lucc commented on #276
@skowalak I would welcome a PR :)

I have mentioned the code that is most relevant to this in the comment above.  But just ask questions when you need help understanding stuff or planing the design.

[2022-02-27 20:39] skowalak commented on #276
@lucc I have added a PR draft, more details are inside #302

[2022-02-28 20:52] bitfehler opened #303 "Potentially misleading project/package description?"
Hey there,

I really hope this doesn't come across as rude, but I was really confused by the way this project presents itself. The brief description of your packages in both Alpine and Arch Linux is "Console carddav client", which I assume is taken from [here](https://github.com/scheibler/khard/blob/develop/doc/source/conf.py#L137). However, I think this description is more than just a bit of a st

[2022-02-28 21:53] lucc commented on #303
Hey @bitfehler that's not rude :)

If the description somewhere can be improved, please do send a PR. For the packages in the distributions you might have t make a request there. I think the description in the man page originates from the short github project description.

[2022-03-07 18:52] #303 closed

[2022-03-10 23:02] Tonus1 commented on #299
As my distribution just published a long awaited release, I would be happy to share to the fellow Slackware users a SlackBuild to ease the installation of khard.
A new release of khard would be nice and could shed some light on the project...
I for one use it daily, mainly in my mutt config.

[2022-03-11 13:09] lucc commented on #299
Some light in absence of a release:
- I am maintaining khard, but have no admin rights on the repo
- CI is broken because travis changed their terms of use a while ago
- I am waiting on @scheibler to use Github Actions for CI
- I can, have and will make releases via pypi
- currently one test is broken (which went unnoticed because of the missing CI). I want to fix that before making a release (hel

[2022-03-15 00:41] owenh000 opened #305 "Support GEO property and/or geo parameter"
khard 0.17.0 does not offer to add or edit geographical latitude/longitude coordinates, either as a separate `GEO` property (vCard 3.0 or 4.0) or as a `geo` parameter (vCard 4.0). Please consider adding support for this in some form, if possible with the underlying vobject library.

Thanks for your work on khard!

---

Relevant documentation:

- vCard 3.0 `GEO` property: <https://datatracker.ietf.

[2022-03-30 21:32] lucc commented on #299
Currently the test suite is broken (not publicly visible as our ci is defunct too, you have to run the tests manually). So with broken tests it does not make much sense to tag a release.

[2022-05-17 04:10] asdf8dfafjk opened #306 "Kindly also change the description on right top (above license)"
From carddav to vcard :)

Thank you!

[2022-05-17 04:37] lucc commented on #306
Will do as soon as I have enough access rights.

[2022-05-23 13:54] #306 closed

[2022-05-30 00:30] Tonus1 commented on #124
Hi @lucc
Since you finally took over the repo I was thinking about take a new look at this long awaiting task.
Ideally, I would need a beta release to test the completion file [1], and at best some pointers on what might be deprecated is the forseable future and what will remain.
I think I would drop short commands (that's what completion is about), DEPRECATED stuff and maybe optional args in a fi

[2022-06-18 01:52] scheibler commented on #259
I've extended the add-email functionality a while ago (see commit fdc441cf238c2759959f3ed5e626cb49684e5555 for details)
Refer to the [documentations scripting section](https://khard.readthedocs.io/en/latest/scripting.html) for how to include additional email header fields.

Please try out the current develop branch and feel free to reopen this issue, if the add-email action still doesn't do what y

[2022-06-18 01:52] #259 closed

[2022-06-21 08:51] scheibler commented on #301
I've improved the phone number matching a few days ago. If you are still interested, please check out khards develop branch and tell me, what you think.

Please use the field query syntax like that:
`khard phone phone_numbers:017612345678`
For now the field is "phone_numbers" not "phone" but that might change before the next release.

You have to use the field query, so that khard strips everythin

[2022-06-22 08:56] johannesk commented on #301
Thanks a lot. This does what I expected.

[2022-06-22 08:56] #301 closed

[2022-06-25 21:38] afh opened #311 "`test_email_bug_251_part_3` regression"
It seems that 0c2e2bd880ac41bf5132ef665cfc343e05e1b308 may have introduced a regression failing [`test_email_bug_251_part_3`](https://github.com/lucc/khard/blob/develop/test/test_command_line_interface.py#L282-L291).

/cc @scheibler

<details><summary>details of test run</summary>

[code]

</details>

[2022-06-27 20:30] lucc commented on #292
Fixed with #307

[2022-06-27 20:30] #292 closed

[2022-06-27 20:36] lucc commented on #276
@lockywolf can you confirm that this is fixed by #302?

[2022-06-27 20:44] #276 closed

[2022-06-27 20:50] lucc commented on #300
I think this would have to be a different command because only the option -i  of the current edit command make sense for this.  And the positional argument is also interpreted differently.

I understand that this is desirable but it does not really fit into the feature set of khard. Khrad currently only manages contacts inside its address books.

I will keep this open non the less.  Ideas or even

[2022-06-28 05:55] lucc commented on #311
Eric fixed this in
bb6c08a

[2022-06-28 05:55] #311 closed

[2022-06-28 05:58] lucc commented on #293
As a workaround you can specify the editor in your config file. The format allows you to specify a list so the question of splitting on whitespace is avoided.

For $EDITOR I am unclear what "The Standard" is. I assume there is no proper defined standard and every program just does what they think is right. Or is there some UNIX/Linux (quasi) "standard" that is documented somewhere?

[2022-06-28 06:20] lucc opened #312 "Include command line options in the man page"
The man page does not list all command line options because I was to lazy to type them all again.  There are solutions that can import argparse objects into sphinx documents.

Extracted from https://github.com/lucc/khard/issues/285#issuecomment-782580258:

[2022-06-28 06:20] lucc commented on #285
Continued in #312

[2022-06-28 06:20] #285 closed

[2022-06-28 07:13] afh commented on #311
Nice! 💯😃👍

[2022-06-29 06:14] falsifian commented on #293
Thanks for the response. I was able to work around it. I'm not aware of any standard, but I think khard is the first place I noticed any trouble, which makes me suspect splitting on spaces is common.

(Anyway, I've switched editors and my current editing command doesn't need any extra arguments.)

[2022-06-29 11:58] SmirnovAlexander commented on #107
@lucc what do you think about that? really useful feature IMHO

[2022-06-29 16:46] lucc commented on #107
@SmirnovAlexander I do not care about this feature so I will not do it. If somebody proposes a PR that is welcome.

[2022-07-05 11:13] tkapias commented on #107
Everyone, like me, syncing with a smartphone has some base64 fields in there.

[2022-08-21 10:19] #293 closed

[2022-11-20 05:49] protist opened #315 "[Regression] Checks fail again"
The latest commit 6b272e22fbedfb4a07ac594cfdaabda6b8318014 fail checks again. Again, the build itself seems to work fine.

[code]

I did a git bisect again, and one commit before this (682a0f28ead05456085a05f80658b9ca471ac840) passes okay, although both commits have 1 skipped, 1 xfailed.

[code]